* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}



/* //same// */

.same {
    padding: 18px;
    text-align: center;
    margin: 22px;

    h2 {
        text-transform: uppercase;
    }

    p {
        padding: 8px;
        color: gray;
    }

    i {
        color: #1BB4B9;
    }

    div {
        display: flex;
        gap: 10px;
        padding-left: 44%;
    }

    hr {
        width: 45px;
        height: 1px;
        margin-top: 8px;
        border: 1px solid #1BB4B9;
    }
}

@media(max-width:768px) {
    .same>div {
        padding-left: 41%;
    }
}

@media(max-width:576px) {
    .same>div {
        padding-left: 37%;
    }
}

@media(max-width:460px) {
    .same>div {
        padding-left: 29.9%;
    }
}

/* /// */


.hero {
    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color: rgb(220, 161, 35);
    padding: 12px 26px;

    .hour {
        display: flex;

        span {
            padding-right: 30px;
        }

        .fa-regular {
            padding-right: 10px;
        }

        i {
            padding-right: 30px;
            font-size: 14px;
        }
    }

    .login {

        i {
            padding-right: 19px;
            font-size: 14px;
        }

        button {
            border: none;
            background: transparent;
            color: #ffffff;
            cursor: pointer;
            padding-right: 15px;
        }
    }

    i:hover {
        color: #1BB4B9;
        transition: .2s linear;
    }
}


@media(max-width:992px) {


    .login {


        .btn {
            font-size: 17px;
            font-weight: 400;
        }
    }
}

@media(max-width:768px) {
    .hero {
        display: flex;
        flex-direction: column;
        /* padding: 20px 30px; */
    }

    .login {
        padding: 10px 0 8px;

    }
}

@media (max-width:576px) {
    .hour {
        display: flex;
        flex-direction: column;

        div {
            padding: 4px 0;
            font-size: 19px;
        }
    }
}

@media(max-width:425px) {
    .hour {
        div {
            font-size: 16px;
        }
    }
}

/* // */


.btn {
    border: none;
    background: #1e90ff;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

.signup-btn {
    background: #28a745;
}

.popup {
    z-index: 2;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.popup-content {
    background: #49c3c7;
    width: 400px;
    padding: 25px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    font-size: 24px;
    float: right;
    cursor: pointer;
}

.popup-content h2 {
    text-align: center;
    padding-bottom: 13px;
}

.popup-content input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    outline: none;
    background: #5cced0;
    border: 1px solid #5cced0;
}

.popup-content input::placeholder {
    color: #fff;
}

.form-btn {
    width: 100%;
    padding: 10px;
    font-size: 17px;
    background: #1e90ff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}


/* nav */

nav {
    display: flex;
    justify-content: space-between;
    padding: 17px 46px 22px;
    margin: 15px 0 1px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #fff;
    top: 0;
    position: sticky;
    z-index: 1;
    box-shadow: 0 18px 15px rgba(177, 204, 215, 0.4);

    img {
        height: 50px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .nav-links {
        display: flex;
        list-style-type: none;
        align-items: center;
        gap: 30px;
        font-size: 16px;
    }

    .nav-links a:hover {
        color: #1BB4B9;
        transition: .2s linear;
    }
}

.menu-btn {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: black;
}

/* ---------- Mobile Menu ---------- */
.mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    text-align: center;
    height: 100vh;
    background: #111;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    transition: 0.4s;
    z-index: 2;
    text-transform: uppercase;
}

.mobile-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.close-btn {
    color: #fff;
    font-size: 32px;
    align-self: flex-end;
    cursor: pointer;
}

@media (max-width: 992px) {
    .nav-links li {
        display: none;
    }

    .menu-btn {
        display: block;
    }
}

@media (max-width:500px) {
    nav {
        padding: 18px 9px;
    }
}

/* // */
.child {
    background-image: url(images/child.webp);
    height: 490px;
    background-size: cover;
    object-fit: cover;
    padding-top: 10%;
    padding-left: 30px;
    text-transform: uppercase;
    max-width: 1300px;

    h2 {
        font-weight: 300;
        font-size: 32px;
    }

    h1 {
        font-size: 50px;
        width: 50%;
        padding: 10px 0;
    }

    button {
        padding: 9px 30px;
        border-radius: 22px;
        border: none;
        border: 1px solid #1BB4B9;
        color: #1BB4B9;
        margin: 10px 0;
        font-weight: 700;
        font-size: 16px;
    }

    button:hover {
        color: #fff;
        background-color: #1BB4B9;
        transition: .3s linear;

    }
}

@media(max-width:992px) {

    .child {

        h2 {
            font-size: 23px;
            padding-top: 35px;
        }

        h1 {
            font-size: 33px;
            line-height: 2.8rem;
            padding: 30px 0;
        }

        button {
            font-size: 20px;
        }
    }

}

.join-us {
    background-color: #1BB4B9;
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    color: #fff;
    font-weight: 400;
    word-spacing: 4px;
    width: 100%;

    h2 {
        font-size: 26px;
    }

    span {
        font-weight: bold;
        font-size: 28px;
    }

    button {
        border: none;
        border: 1px solid #fff;
        padding: 8px 20px;
        border-radius: 20px;
        background-color: #1BB4B9;
        color: #fff;
        font-size: 17px;
        font-weight: bold;
    }

    button:hover {
        color: #1BB4B9;
        background-color: #fff;
        transition: .3s linear;
    }
}

@media(max-width:760px) {

    .join-us {
        display: flex;
        flex-direction: column;

        button {
            margin-top: 12px;
        }
    }
}

/* //classes// */
.all-classes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    max-width: 1200px;
    margin: auto;
}

.c1 {
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 13px;

    h4 {
        padding-top: 9px;
    }

    h4:hover {
        color: #1BB4B9;
    }

    p {
        padding: 14px 0;
        font-size: 14px;
        word-spacing: 6px;
        color: gray;
    }

    .spn {
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        span {

            padding: 7px 12px;
            color: gray;
            font-size: 12.8px;
        }
    }
}

.hd {
    display: none;
}

.c1-image {
    width: 380px;
    overflow: hidden;
}

.c1 img {
    width: 100%;
    object-fit: cover;
    display: block;
}

.c1 img:hover {
    transform: translateY(-5px) scale(1.07);
    transition: .3s linear;
}

@media (max-width: 992px) {
    .all-classes {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 20px;
    }
}

@media (max-width: 576px) {

    #m-class {
        padding: 40px 15px;
    }

    .all-classes {
        grid-template-columns: 1fr;
        padding: 0;
    }

    .c1 {
        width: 100%;
        margin: auto;
    }

    .spn {
        flex-direction: column;
        gap: 6px;
        text-align: left;
    }
}

/* //bck// */

.bck {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1265px;
    text-align: center;
    background-color: #49c3c7;
    padding: 35px;
    margin: 40px 0;
    color: #ffffff;

    i {
        font-size: 27px;
    }

    h1 {
        padding: 14px 0;
        font-size: 44px;
        font-weight: 300;
    }

    h2 {
        font-size: 18px;
        font-weight: 300;
    }
}

@media(max-width:992px) {
    .bck {
        grid-template-columns: repeat(3, 1fr);
    }

    .bck .b1 i {
        padding-top: 12px;
    }
}

@media(max-width:768px) {
    .bck {
        grid-template-columns: repeat(2, 1fr);
    }

    .b1 {
        padding: 20px;
    }
}

@media(max-width:576px) {
    .bck {
        grid-template-columns: repeat(1fr);
    }
}

/* //teachers// */


.all-teachers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 30px;
    text-align: center;

    .t1 {
        margin-bottom: 30px;

        span {
            font-style: italic;
            color: gray;
        }

        img {
            width: 100%;
            /* height: 260px; */
            border: 1px solid rgb(237, 229, 229);
        }

        h2 {
            padding: 13px 0;
            font-size: 15px;
        }

        p {
            font-size: 13px;
            padding: 13px 0;
            color: gray;

        }

        i {
            color: gray;
            margin: 0 5px;
        }

        i:hover {
            color: #1BB4B9;
        }
    }
}

@media (max-width: 992px) {
    .all-teachers {
        grid-template-columns: repeat(3, 1fr);
        padding: 0 20px;
    }
}

@media (max-width: 768px) {
    .all-teachers {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 10px;
    }
}


@media (max-width: 576px) {

    #m-teachers {
        padding: 40px 15px;
    }

    .all-teachers {
        grid-template-columns: 1fr;
        padding: 0;
    }

    .t1 {
        width: 100%;
        margin: auto;
    }


}

/* //gallery// */

#m-gallery {
    background-color: rgb(231, 231, 231);
    padding: 10px 0;
    max-width: 1265px;
}


.all-imgs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 100%;


    img {
        width: 100%;
        height: 250px;
    }
}


.p-glry {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 30px;
    margin: 30px;

    p {
        text-align: center;
        font-size: 28px;

        span {
            font-weight: bold;
        }
    }




    a {
        color: #ffffff;
        padding: 9px 20px;
        border: 1px solid #1BB4B9;
        background-color: #1BB4B9;
        /* color: #fff; */
        border-radius: 28px;
        font-weight: 600;
        width: 50%;
        text-align: center;
        margin: auto;
    }


    a:hover {
        background-color: #fff;
        color: #1BB4B9;
        border: 1px solid #1BB4B9;
    }

}

@media (max-width:992px) {

    .all-imgs {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media (max-width:768px) {
    .all-imgs {
        grid-template-columns: repeat(2, 1fr);
    }

    .all-imgs .img1 {
        padding: 8px;

    }

    .m-gallery {
        font-size: 18px;
    }

    .p-glry {
        grid-template-columns: 1fr;
    }
}

@media (max-width:576px) {
    .all-imgs {
        grid-template-columns: 1fr;

    }




}

/* //blog// */


.all-blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    gap: 13px;
    margin: 20px 8px;
    flex-grow: 1;


    .b1 {
        box-shadow: 0 5px 15px rgba(177, 204, 215, 0.4);
        padding: 11px;

        img {
            width: 100%;
        }

        h4 {
            padding: 24px 0 8px;
        }

        div {
            color: gray;
            padding: 6px 0;
        }

        p {
            color: gray;
            padding: 6px 0;
            font-size: 14px;
            word-spacing: 5px;
            line-height: 19px;
        }

        a {
            text-decoration: none;
            color: #1BB4B9;
            font-size: 13px;
            padding: 10px 0;
        }

    }

    h4:hover {
        color: #1BB4B9;
        transition: .2s linear;
    }

    a:hover {
        color: rgb(248, 200, 111);
        transition: .2s linear;
    }

    .b1 img:hover {
        transform: translateY(-2px) scale(1.06);
        transition: .3s linear;
    }
}


@media(max-width:992px) {
    .all-blogs {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width:768px) {
    .all-blogs {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:576px) {
    .all-blogs {
        grid-template-columns: 1fr;
    }
}


/* terminal// */

.wrapper {
    text-align: center;
    position: relative;

    p {
        color: gray;
        padding: 8px;
        font-style: italic;
    }

    h2 {
        font-size: 17px;
    }

    .para {
        width: 69%;
        margin: auto;
        padding: 34px 0;
    }

    button {
        position: absolute;
        top: 50%;
        left: 59%;
        right: 59%;
        transform: translateY(-100%);
        font-size: 37px;
        background: none;
        border: none;
        cursor: pointer;
    }

    button:first-of-type {
        left: 10px;
    }

    button:last-of-type {
        right: 10px;
    }
}

@media(max-width:576px) {
    .wrapper {
        text-align: center;
        overflow: hidden;
    }
}

@media(max-width:460px) {
    .wrapper {
        text-align: center;
        overflow: hidden;
    }
}

.center-text {
    margin-bottom: 20px;
}

.image-row {
    display: flex;
    justify-content: center;
    gap: 30px;


}

.slot {
    opacity: 0.4;
    transition: 0.4s;
}

.slot img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    transition: 0.4s;
    border: 3px solid #1BB4B9;
}

.slot.active {
    opacity: 1;
}

.slot.active img {
    width: 140px;
    height: 140px;
}

/* //footer// */


#footer {
    background-color: #49c3c7;

    hr {
        border: 1px solid #1BB4B9;
    }
}

.tech {
    text-align: center;
    padding: 30px;
    color: #fff;

    .ft {
        display: flex;
        max-width: 1200px;
        justify-content: center;
        gap: 27px;
        padding: 15px;
        cursor: pointer;

        i {
            padding-right: 18px;
        }
    }
}

@media (max-width:992px) {
    .tech {
        text-align: left;
        padding: 17px 8px;

        img {
            /* height: 70px; */
            width: 45%;
            padding-left: 10px;
        }
    }

    .ft {
        flex-direction: column;
        font-size: 14px;
    }

}

/* // */

.ft-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr;
    gap: 30px;
    padding: 60px;
    background: #4ec4c6;
    color: #fff;
}

.ft-links h2 {
    margin-bottom: 24px;
    font-size: 24px;
}

/* .ft-links ul {
    list-style: none;
    padding: 0;
} */

.ft-links ul li {
    margin-bottom: 19px;
}

.ft-links ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.ft-links ul li a:hover {
    text-decoration: underline;
    color: rgb(240, 240, 109);
    transition: .2s linear;
}

/* Newsletter box */
.f2 {
    background: #1bb3b6;
    padding: 22px;
    border-radius: 10px;
}

.f2 p {
    line-height: 1.6;
    margin-bottom: 20px;
}

.f2 div {
    display: flex;
    background: #5cced0;
    border-radius: 6px;
    overflow: hidden;
}

.f2 input {
    flex: 1;
    padding: 13px;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
}

.f2 input::placeholder {
    color: #eee;
}

.f2 button {
    background: transparent;
    border: none;
    padding: 0 20px;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
}

.f2 button i:hover {
    color: rgb(224, 224, 37);
}

@media (max-width: 992px) {
    .ft-links {
        grid-template-columns: repeat(3, 1fr);
        padding: 60px 50px;
    }

    .f2 {
        grid-column: span 2;

    }
}

@media (max-width: 576px) {
    .ft-links {
        grid-template-columns: repeat(2, 2fr);
        padding: 50px 25px;
        flex-direction: column;
    }

    .f2 {
        padding: 30px 20px;
    }

    .f2 div {
        flex-direction: row;

        button {
            font-size: 16px;
            background: #5cced0;
        }
    }

    .f2 button {
        padding: 15px;
        background: #17a9ac;
    }


}

@media (max-width: 450px) {
    .ft-links {
        grid-template-columns: repeat(1fr);
        /* padding: 40px 15px; */
    }

    .ft-links h2 {
        font-size: 18px;
    }

    .ft-links ul li a {
        font-size: 14px;
    }

    .f2 p {
        font-size: 14px;
    }


}


.last {
    display: flex;
    justify-content: space-between;
    padding: 22px;
    color: #ffffff;

    p {
        font-size: 14px;
    }

    i {
        padding-right: 35px;
        font-size: 15px;
    }

    i:hover {
        color: rgb(224, 224, 37);
        transition: .1s linear;
    }
}

@media(max-width:576px) {
    .last {
        flex-direction: column;

        .l1 p {
            font-size: 18px;
        }

        .l2 i {
            padding-top: 17px;
            font-size: 19px;
        }
    }
}